@keyframes arrow {

  from {
    margin-left: -20px;
  }

  to {
    margin-left: -16px;
  }
}

@keyframes heart-scale {

  from {
    transform-origin: center;
    scale: 1;
  }

  to {
    transform-origin: center;
    scale: 1.5;
  }
}

@keyframes sparks {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
