:root.theme-dark {
  --title-font-weight: 785;
  --text-font-weight: 485;
  --bg-color: #000;
  --main-color: #00cc14;
  --bg-gradient-color: #000;
  --bg-gradient-color-1: #007f0c;
  --bg-gradient-color-2: #004306;
  --bg-gradient-start-from: 0;
}

@media (prefers-color-scheme: dark) {

  :root {
    --title-font-weight: 785;
    --text-font-weight: 485;
    --bg-color: #000;
    --main-color: #00cc14;
    --bg-gradient-color: #000;
    --bg-gradient-color-1: #007f0c;
    --bg-gradient-color-2: #004306;
    --bg-gradient-start-from: 0;
  }
}

:root.theme-light {
  --title-font-weight: 700;
  --text-font-weight: 400;
  --bg-color: #fff;
  --main-color: #000;
  --bg-gradient-color: #d3d3d3;
  --bg-gradient-color-1: #e7e7e7;
  --bg-gradient-color-2: #1a1a1a;
  --bg-gradient-start-from: 0.01%;
}

@media (prefers-color-scheme: light) {

  :root {
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-color: #fff;
    --main-color: #000;
    --bg-gradient-color: #d3d3d3;
    --bg-gradient-color-1: #e7e7e7;
    --bg-gradient-color-2: #1a1a1a;
    --bg-gradient-start-from: 0.01%;
  }
}

.theme-dark .button {
  color: var(--main-color);
}

.theme-auto .button {
  color: var(--main-color);
}
